/* eslint-disable */
var utils = require('./utils.wxs');

/**
 * 
 * @param minDate 
 * @param frameIndex 可能的值为[0, 1, 2]
 */
function getFrameDates(minDate, frameIndex) {
  var cursor = getDate(minDate);
  cursor.setDate(1);
  if (frameIndex === 2) {
    cursor.setMonth(cursor.getMonth() + 1);
  } else if (frameIndex === 0) {
    cursor.setMonth(cursor.getMonth() - 1);
  }
  return cursor.getTime();
}

function getMonths(minDate, maxDate) {
  var months = [];
  var cursor = getDate(minDate);

  cursor.setDate(1);

  do {
    months.push(cursor.getTime());
    cursor.setMonth(cursor.getMonth() + 1);
  } while (utils.compareMonth(cursor, getDate(maxDate)) !== 1);

  return months;
}

function getButtonDisabled(type, currentDate) {
  if (currentDate == null) {
    return true;
  }

  if (type === 'range') {
    return !currentDate[0] || !currentDate[1];
  }

  if (type === 'multiple') {
    return !currentDate.length;
  }

  return !currentDate;
}

module.exports = {
  getMonths: getMonths,
  getFrameDates: getFrameDates,
  getButtonDisabled: getButtonDisabled
};